.container{
    
}

.cards{
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10rem;
    justify-items: center;
}
.note{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #F32424;
    margin: 2rem;
}
.description{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 100;
    color: white;
    margin: 3rem;
    
}