.container{
    min-height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

.logo{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.splash{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    pointer-events: none;
    
}
.nav{
    flex-grow: 4;
    
}
.nav ul {
    display: flex;
    justify-content: flex-start;
    gap: 5%;
}
.nav ul li {
    font-size: 0.9rem;
    color: white;
    /* font-family: "FunkyStar"; */
    /* font-family: "Filsan"; */
}

.nav ul li a:hover{
    /* color: #171717; */
    color: var(--primaryColor);
}

.rightSide{
    flex-grow: 1;
    display: flex;
    
}
.connect{
    flex: 3;
    display: flex;
    justify-content: center;
}
.icons{
    flex: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon{
    color: white;
    /* padding-left: 5px;
    padding-right: 5px; */
}
.icon:hover{
    /* color: #171717; */
    color: var(--primaryColor);
}

.connect button{
    /* background-color: #171717;  */
    background-color: var(--primaryColor);
  border: none;
  color: white;
  padding: 0.8rem 2rem;
  /* border-radius: 10px 20px 30px 40px; */
  border-radius: 10px 10px;
    font-size: 0.9rem;
    transition: all 0.5s;
    z-index: 1;
}

.connect button:hover{
    background-color: black;
    /* background-color: var(--orange); */
    
}


@media screen and (max-width: 640px){
    .splash{
        display: none;
    }
    .nav ul li {
        font-size: 0.5rem;
        
    }

    .connect button{
        padding: 0.4rem 1rem;
        font-size: 0.6rem;
        align-self: center;
        
    }
    .icons{
        /* flex-direction: column; */
        justify-content: space-between;
    }
    .icon{
        scale: 0.6;
    }
    .nav{
        flex-grow: 3;
    }
    .nav ul{
        flex-direction: column;
        height: 20vh;
        justify-content: center;
    }
    .logo{
        scale: 0.7;
    }
}