.container span {
    background-color: var(--secondaryColor);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}
.title{
  
  color: var(--secondaryColor);
  text-align: center;
}

.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 0.7rem;
}
  
.barContainer {
    height: 1.7rem;
    width: 90%;
    background-color: var(--orange);
    border-radius: 10px;
  }

.barFiller {
    height: 100%;
    width: 0%;
    background-color: var(--secondaryColor);
    border-radius: inherit;
    transition: width 1s ease-in-out;
    object-fit: contain;
  }
  

.bnbContainer{
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.bnbContainer h2 {
  font-family: 'Entuista';
  font-weight: 100;
  color: #171717;
}
.inputContainer{
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-around;
}

.inputContainer input {
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  background-color: var(--orange);
  padding: 1rem;
  border-radius: 50%;
  text-align: center;
  width: 15%;
  font-family: 'Entuista';
  font-size: 1.2rem;
}
.inputContainer input:focus{
  outline: none;
  outline: 3px solid var(--secondaryColor);
}
.inputContainer input:focus::placeholder{
  opacity: 0;
}
.inputContainer button {
  background-color: var(--secondaryColor);
  border: none;
  color: white;
  padding: 0.8rem 2rem;
  /* border-radius: 10px 20px 30px 40px; */
  border-radius: 10px 10px;
    font-size: 0.9rem;
    transition: all 0.5s;
}
.inputContainer button:disabled {
    cursor: not-allowed;
    /* pointer-events:none; */
    opacity: 0.4;
}

.inputContainer button:hover{
  background-color: #171717;
    color: white;
}

.claimContainer{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   min-height: 50vh;
}

.claimContainer button{
  background-color: var(--secondaryColor);
  border: none;
  color: white;
  padding: 0.8rem 2rem;
  /* border-radius: 10px 20px 30px 40px; */
  border-radius: 10px 10px;
    font-size: 0.9rem;
    transition: all 0.5s;
}

.claimContainer button:hover{
  background-color: #171717;
    color: white;
}

.whitelist h1 {
  font-size: 1.2rem;
}

.toastTry {
  font-size: 1rem;
  font-weight: 200;
}

.toastTry a {
  color: var(--secondaryColor);
  font-weight: 200;
}